<div  class="col-md-12" ng-show="vm.selectedQuestion.type == 'TIME_BREAK'">
    <div ng-include="'app/partial/partial.timebreak.html'"></div>
</div>
<div class="col-md-12">
    <p class="pte-test-content-question">{{vm.selectedQuestion.text}}</p>
    
    <!-- Include image -->
     <div ng-show="vm.selectedQuestion.type == 'SPEAKING_DESCRIBE_IMAGE'">
		<img alt="" src="{{vm.selectedQuestion.audioLink}}">        	
     </div>
 </div>
 <div class="col-md-12">
     <div ng-include="'app/partial/partial.record.html'"></div>
 </div>
 <div class="col-md-12" ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-timeBreak':''">
     <div class="text-center pte-text-question" ng-bind-html="vm.trustAsHtml(vm.selectedQuestion.description)"></div>
     <div class="text-right">
         <button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>
     </div>
 </div>
