<div class="col-md-6">
    <p class="pte-test-content-question">{{vm.selectedQuestion.text}}</p>
    <div>
    	<!-- Audio -->

    </div>
</div>
<div class="col-md-6 text-center">
    <p class="pte-text-question">{{vm.selectedQuestion.description}}</p>
    <div >

        <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerA">
            <input type="checkbox" name="answerA" id="answerA" value="true" >
            <label for="answerA" class="line-height-30">
                <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerA}}</p>
            </label>
        </div>
        <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerB">
            <input type="checkbox" name="answerB" id="answerB" value="true">
            <label for="answerB" class="line-height-30">
                <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerB}}</p>
            </label>
        </div>
        <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerC">
            <input type="checkbox" name="answerC" id="answerC" value="true">
            <label for="answerC" class="line-height-30">
                <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerC}}</p>
            </label>
        </div>
        <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerD">
            <input type="checkbox" name="answerD" id="answerD" value="true">
            <label for="answerD" class="line-height-30">
                <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerD}}</p>
            </label>
        </div>
        <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerE">
               <input type="checkbox" name="answerE" id="answerE" value="true">
               <label for="answerE" class="line-height-30">
                   <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerE}}</p>
               </label>
        </div>
    </div>
    <div class="text-center">
        <button class="pte-test-answer" ng-click="vm.answer()" >Answer</button>
    </div>

</div>
