<div class="col-md-12">
    <p class="pte-test-content-question">{{vm.selectedQuestion.text}}</p>
</div>
<div class="col-md-12 text-center" ng-show="vm.selectedQuestion.type == 'SPEAKING_REPEAT_SENTENCE' || vm.selectedQuestion.type == 'SPEAKING_RETELL_LECTURE' || vm.selectedQuestion.type == 'SPEAKING_ANSWER_SHORT_QUESTION'">
    <!-- https://storage.googleapis.com/pte-magic/WFD1.mp3 -->
    <div class="container-audio">
        <div id="override"></div>
        <audio id="player" controls autoplay preload >
            <source id="mp3_src" src="" type="audio/mp3"  />
            Your browser dose not Support the audio Tag
        </audio>
    </div>
</div>
<div class="col-md-6" ng-show="vm.selectedQuestion.type == 'SPEAKING_DESCRIBE_IMAGE'">
    <img class="pte-width-100 pte-margin-bottom-10" alt="" src="{{vm.selectedQuestion.audioLink}}">
</div>

<div ng-class="(vm.selectedQuestion.type == 'SPEAKING_DESCRIBE_IMAGE') ? 'col-md-6' : 'col-md-12'">
    <div ng-include="'app/partial/partial.record.html'"></div>
</div>

<div class="col-md-12"  ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-timeBreak':''">
    <!--<div class="text-center pte-text-question" ng-bind-html="vm.trustAsHtml(vm.selectedQuestion.description)"></div>-->
    <div class="text-right">
        <button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>
    </div>
</div>


