
    <div class="col-md-12 pte-margin-bottom-10"
         ng-show="
                    vm.selectedQuestion.type != 'READING_MCQ_R_SINGLE_ANSWER' &&
                    vm.selectedQuestion.type != 'READING_MCQ_R_MULTIPLE_ANSWER'">
            <p class="pte-test-type-question-two-des-down" data-translate="pteMagicApp.QuestionType.description.{{vm.selectedQuestion.type}}">Description</p>
    </div>
    <div class="simpleDemo col-md-12" ng-show="vm.selectedQuestion.type == 'READING_RE_ORDER_PARAGRAPH'">
        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{listName}}</h3>
                        </div>
                        <div class="panel-body" id="pte-re-order-paragraph-ul" ng-include="'app/partial/draggable.panel.html'"></div>
                    </div>
                </div>
            </div>

            <div view-source="simple"></div>
            <!--<div class="text-right">-->
                <!--<button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>-->
            <!--</div>-->
        </div>

    </div>

    <div class="simpleDemo row" ng-show="vm.selectedQuestion.type == 'READING_FIB_R'">

        <div class="col-md-12">
            <div class="row" id="dragInput">
                <div ng-repeat="(index, value) in models.fillInTheBlankQuestionArr" class="pte-display-inline-block" elem-ready="vm.prepareFillInTheBlanks()">
                    <div ng-repeat="(listName, list) in value"  class="pte-display-inline-block">
                        <div class="panel panel-info pte-position-top10" id="drag-panel{{index}}">
                            <div><div class="panel-body" ng-include="'app/partial/draggable.replace-panel.html'"></div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div view-source="simple"></div>
            <div class="row">
                <div ng-repeat="(listName, list) in models.fillInTheBlanklLists" >
                    <div class="panel panel-info text-center" id="drgFillBL">
                        <div class="panel-body" ng-include="'app/partial/draggable.h-panel.html'"></div>
                    </div>
                </div>
            </div>
            <!--<div class="row text-right">-->
                <!--<button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>-->
            <!--</div>-->
        </div>
    </div>
    <div class="" ng-show="
        vm.questionGroup == 'READING' && (
        vm.selectedQuestion.type != 'READING_RE_ORDER_PARAGRAPH' &&
        vm.selectedQuestion.type != 'READING_FIB_R')"
         ng-class="(
         vm.selectedQuestion.type == 'READING_FIB_R_W' ? 'col-md-12':'col-md-6')"
    >

        <p class="pte-test-content-question" ng-bind-html="vm.trustAsHtml(vm.selectedQuestion.text)"></p>
        <!-- Record audio -->
        <div ng-show="vm.selectedQuestion.audioLink">
            <!-- https://storage.googleapis.com/pte-magic/WFD1.mp3 -->
           <div ng-include="'app/partial/partial.audio.html'"></div>
        </div>
    </div>

    <div class=" col-md-6"
         ng-show="vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' || vm.selectedQuestion.type == 'READING_MCQ_R_MULTIPLE_ANSWER'"
            >
        <div class=" pte-margin-bottom-10"
             ng-show="vm.questionGroup == 'READING'">
            <p class="pte-test-type-question-two-des-down" data-translate="pteMagicApp.QuestionType.description.{{vm.selectedQuestion.type}}">Description</p>

        </div>
        <div class="pte-test-content-question" ng-bind-html="vm.trustAsHtml(vm.selectedQuestion.description)"></div>
        <div class="padding-left30">

            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerA">
                <input type="{{vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? 'radio' : 'checkbox'}}" name="answer" id="answerA" value="true" >
                <label for="answerA" class="line-height-30" ng-class="vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? '' : 'pte-checkBox-multiple'">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerA}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerB">
                <input type="{{vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? 'radio' : 'checkbox'}}" name="answer" id="answerB" value="true">
                <label for="answerB" class="line-height-30" ng-class="vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? '' : 'pte-checkBox-multiple'">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerB}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerC">
                <input type="{{vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? 'radio' : 'checkbox'}}" name="answer" id="answerC" value="true">
                <label for="answerC" class="line-height-30" ng-class="vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? '' : 'pte-checkBox-multiple'">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerC}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerD">
                <input type="{{vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? 'radio' : 'checkbox'}}" name="answer" id="answerD" value="true">
                <label for="answerD" class="line-height-30" ng-class="vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? '' : ' pte-checkBox-multiple'">
                    <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerD}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerE">
                <input type="{{vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? 'radio' : 'checkbox'}}" name="answer" id="answerE" value="true">
                <label for="answerE" class="line-height-30" ng-class="vm.selectedQuestion.type == 'READING_MCQ_R_SINGLE_ANSWER' ? '' : ' pte-checkBox-multiple'">
                    <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerE}}</p>
                </label>
            </div>
        </div>
        <!--<div class="text-right">-->
            <!--<button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>-->
        <!--</div>-->

    </div>

    <div class="col-md-12 "
         ng-show="vm.selectedQuestion.type == 'READING_FIB_R_W'"
         ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-timeBreak':''">
        <!--<div class="text-right">-->
            <!--<button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>-->
        <!--</div>-->
    </div>
