    <div  class="col-md-12" ng-show="vm.selectedQuestion.type == 'TIME_BREAK'">
        <div ng-include="'app/partial/partial.timebreak.html'"></div>
    </div>
    <div class="col-md-6" ng-show="vm.questionGroup == 'READING' || vm.questionGroup == 'LISTENING'">
        <p class="pte-test-content-question">{{vm.selectedQuestion.text}}</p>
        <!-- Record audio -->
        <div ng-show="vm.selectedQuestion.audioLink">
            <!-- https://storage.googleapis.com/pte-magic/WFD1.mp3 -->
            <div ng-include="'app/partial/partial.audio.html'"></div>
        </div>
    </div>
    <div class="col-md-12"  ng-show="vm.questionGroup == 'SPEAKING' || vm.questionGroup== 'WRITING'">
        <p class="pte-test-content-question">{{vm.selectedQuestion.text}}</p>
    </div>btnEnable
    <div class="col-md-12"  ng-show="vm.questionGroup == 'SPEAKING' || vm.questionGroup== 'WRITING'"   ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-timeBreak':''">
        <div class="text-center pte-text-question" ng-bind-html="vm.trustAsHtml(vm.selectedQuestion.description)"></div>
        <div class="text-right">
            <button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>
        </div>
    </div>
    <div class="col-md-6 " ng-show="vm.questionGroup == 'READING' || vm.questionGroup == 'LISTENING'"ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-timeBreak':''">
        <div class="pte-text-question" ng-bind-html="vm.trustAsHtml(vm.selectedQuestion.description)"></div>
        <div class="padding-left30">

            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerA">
                <input type="checkbox" name="answerA" id="answerA" value="true" >
                <label for="answerA" class="line-height-30">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerA}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerB">
                <input type="checkbox" name="answerB" id="answerB" value="true">
                <label for="answerB" class="line-height-30">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerB}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerC">
                <input type="checkbox" name="answerC" id="answerC" value="true">
                <label for="answerC" class="line-height-30">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerC}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerD">
                <input type="checkbox" name="answerD" id="answerD" value="true">
                <label for="answerD" class="line-height-30">
                    <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerD}}</p>
                </label>
            </div>
			<div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerE">
                   <input type="checkbox" name="answerE" id="answerE" value="true">
                   <label for="answerE" class="line-height-30">
                       <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerE}}</p>
                   </label>
           </div>
       </div>
       <div class="text-right">
           <button class="pte-test-answer" ng-click="vm.answer()" ng-show="vm.btnEnable">{{vm.btnTxt}}</button>
       </div>

    </div>
