
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <span class="icon-close pte-icon-close-dialog" ng-click="vm.clear()"></span>
        <h4 class="modal-title text-center" id="myQuestionLabel" data-translate="pteMagicApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.question.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.question.type" id="field_type" ng-change="vm.changeQuestionType()">
                <option value="SPEAKING_READ_ALOUD" ng-show="vm.checkTypeQuestion =='SPEAKING'" data-translate="pteMagicApp.QuestionType.SPEAKING_READ_ALOUD">SPEAKING_READ_ALOUD</option>
                <option value="SPEAKING_REPEAT_SENTENCE" ng-show="vm.checkTypeQuestion =='SPEAKING'" data-translate="pteMagicApp.QuestionType.SPEAKING_REPEAT_SENTENCE">SPEAKING_REPEAT_SENTENCE</option>
                <option value="SPEAKING_DESCRIBE_IMAGE" ng-show="vm.checkTypeQuestion =='SPEAKING'" data-translate="pteMagicApp.QuestionType.SPEAKING_DESCRIBE_IMAGE">SPEAKING_DESCRIBE_IMAGE</option>
                <option value="SPEAKING_RETELL_LECTURE" ng-show="vm.checkTypeQuestion =='SPEAKING'" data-translate="pteMagicApp.QuestionType.SPEAKING_RETELL_LECTURE">SPEAKING_RETELL_LECTURE</option>
                <option value="SPEAKING_ANSWER_SHORT_QUESTION" ng-show="vm.checkTypeQuestion =='SPEAKING'" data-translate="pteMagicApp.QuestionType.SPEAKING_ANSWER_SHORT_QUESTION">SPEAKING_ANSWER_SHORT_QUESTION</option>
                <option value="WRITING_SUMMARIZE_WRITTEN_TEXT" ng-show="vm.checkTypeQuestion =='WRITING'" data-translate="pteMagicApp.QuestionType.WRITING_SUMMARIZE_WRITTEN_TEXT">WRITING_SUMMARIZE_WRITTEN_TEXT</option>
                <option value="WRITING_ESSAY" ng-show="vm.checkTypeQuestion =='WRITING'" data-translate="pteMagicApp.QuestionType.WRITING_ESSAY">WRITING_ESSAY</option>
                <option value="READING_FIB_R_W" ng-show="vm.checkTypeQuestion =='READING'" data-translate="pteMagicApp.QuestionType.READING_FIB_R_W">READING_FIB_R_W</option>
                <option value="READING_FIB_R" ng-show="vm.checkTypeQuestion =='READING'" data-translate="pteMagicApp.QuestionType.READING_FIB_R">READING_FIB_R</option>
                <option value="READING_RE_ORDER_PARAGRAPH" ng-show="vm.checkTypeQuestion =='READING'" data-translate="pteMagicApp.QuestionType.READING_RE_ORDER_PARAGRAPH">READING_RE_ORDER_PARAGRAPH</option>
                <option value="READING_MCQ_R_SINGLE_ANSWER" ng-show="vm.checkTypeQuestion =='READING'"  data-translate="pteMagicApp.QuestionType.READING_MCQ_R_SINGLE_ANSWER">READING_MCQ_R_SINGLE_ANSWER</option>
                <option value="READING_MCQ_R_MULTIPLE_ANSWER" ng-show="vm.checkTypeQuestion =='READING'" data-translate="pteMagicApp.QuestionType.READING_MCQ_R_MULTIPLE_ANSWER">READING_MCQ_R_MULTIPLE_ANSWER</option>
                <option value="LISTENING_SUMMARIZE_SPOKEN_TEXT" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_SUMMARIZE_SPOKEN_TEXT">LISTENING_SUMMARIZE_SPOKEN_TEXT</option>
                <option value="LISTENING_FIB_L" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_FIB_L">LISTENING_FIB_L</option>
                <option value="LISTENING_MCQ_L_SINGLE_ANSWER" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_MCQ_L_SINGLE_ANSWER">LISTENING_MCQ_L_SINGLE_ANSWER</option>
                <option value="LISTENING_MCQ_L_MULTIPLE_ANSWER" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_MCQ_L_MULTIPLE_ANSWER">LISTENING_MCQ_L_MULTIPLE_ANSWER</option>
                <option value="LISTENING_HIGHLIGHT_CORRECT_SUMMARY" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_HIGHLIGHT_CORRECT_SUMMARY">LISTENING_HIGHLIGHT_CORRECT_SUMMARY</option>
                <option value="LISTENING_SELECT_MISSING_WORD" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_SELECT_MISSING_WORD">LISTENING_SELECT_MISSING_WORD</option>
                <option value="LISTENING_HIGHLIGHT_INCORRECT_WORD" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_HIGHLIGHT_INCORRECT_WORD">LISTENING_HIGHLIGHT_INCORRECT_WORD</option>
                <option value="LISTENING_DICTATION" ng-show="vm.checkTypeQuestion =='LISTENING'" data-translate="pteMagicApp.QuestionType.LISTENING_DICTATION">LISTENING_DICTATION</option>
            </select>
        </div>
        <div class="form-group"
             ng-show="vm.question.type != 'SPEAKING_REPEAT_SENTENCE'
             && vm.question.type != 'SPEAKING_DESCRIBE_IMAGE'
             && vm.question.type != 'SPEAKING_RETELL_LECTURE'
             && vm.question.type != 'SPEAKING_ANSWER_SHORT_QUESTION'
             && vm.question.type != 'LISTENING_SUMMARIZE_SPOKEN_TEXT'
             && vm.question.type != 'LISTENING_HIGHLIGHT_CORRECT_SUMMARY'
             && vm.question.type != 'LISTENING_SELECT_MISSING_WORD'
             && vm.question.type != 'LISTENING_DICTATION'
             && vm.question.type != 'LISTENING_MCQ_L_MULTIPLE_ANSWER'
             && vm.question.type != 'LISTENING_MCQ_L_SINGLE_ANSWER'
             && vm.question.type != 'READING_RE_ORDER_PARAGRAPH'
            && vm.question.type != 'LISTENING_FIB_L'
             && vm.question.type != 'LISTENING_HIGHLIGHT_INCORRECT_WORD'"
        >
            <label class="control-label" data-translate="pteMagicApp.question.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.question.text"
                    />
        </div>
        <div class="form-group"
             ng-show="(
             vm.questionGroup == 'LISTENING' ||
             vm.question.type == 'SPEAKING_REPEAT_SENTENCE' ||
             vm.question.type == 'SPEAKING_DESCRIBE_IMAGE' ||
             vm.question.type == 'SPEAKING_RETELL_LECTURE'||
             vm.question.type == 'LISTENING_MCQ_L_MULTIPLE_ANSWER'||
             vm.question.type == 'SPEAKING_ANSWER_SHORT_QUESTION')
             "
        >
        	<button type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)" accept="audio/*,image/*" ngf-max-size="4MB">
		      Select File</button>

            <label class="control-label" ng-show="vm.question.type != 'SPEAKING_DESCRIBE_IMAGE'" data-translate="pteMagicApp.question.audioLink" for="field_audioLink">Audio/Image Link</label>
            <label class="control-label"  ng-show="vm.question.type == 'SPEAKING_DESCRIBE_IMAGE'" for="field_audioLink">Upload image</label>
            <input type="text" class="form-control" name="audioLink" id="field_audioLink" ng-model="vm.question.audioLink" readonly="readonly"/>
        </div>
        <div class="form-group"
             ng-show="vm.question.type != 'WRITING_SUMMARIZE_WRITTEN_TEXT' &&
              vm.question.type != 'WRITING_ESSAY' &&
              vm.question.type != 'SPEAKING_READ_ALOUD' &&
              vm.question.type != 'SPEAKING_REPEAT_SENTENCE'&&
              vm.question.type != 'SPEAKING_DESCRIBE_IMAGE'&&
              vm.question.type != 'SPEAKING_RETELL_LECTURE'&&
              vm.question.type != 'SPEAKING_ANSWER_SHORT_QUESTION'&&
              vm.question.type != 'READING_RE_ORDER_PARAGRAPH' &&
              vm.question.type != 'READING_FIB_R' &&
              vm.question.type != 'READING_FIB_R_W' &&
              vm.question.type != 'LISTENING_SUMMARIZE_SPOKEN_TEXT' &&
              vm.question.type != 'LISTENING_HIGHLIGHT_CORRECT_SUMMARY' &&
              vm.question.type != 'LISTENING_SELECT_MISSING_WORD' &&
              vm.question.type != 'LISTENING_DICTATION'
"
        >
            <label class="control-label" data-translate="pteMagicApp.question.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.question.description"
                    />
        </div>
        <div
            ng-show="
            (vm.questionGroup == 'LISTENING' ||
            vm.questionGroup == 'WRITING' ||
            vm.questionGroup == 'READING')
            && vm.question.type != 'LISTENING_SUMMARIZE_SPOKEN_TEXT'
            && vm.question.type != 'LISTENING_FIB_L'
            && vm.question.type != 'WRITING_SUMMARIZE_WRITTEN_TEXT'
            && vm.question.type != 'LISTENING_DICTATION'
            && vm.question.type != 'WRITING_ESSAY'
            && vm.question.type != 'LISTENING_HIGHLIGHT_INCORRECT_WORD'"
        >
	        <div class="form-group">
	            <label class="control-label" data-translate="pteMagicApp.question.answerA" for="field_answerA">Answer A</label>
	            <input type="text" class="form-control" name="answerA" id="field_answerA" ng-model="vm.question.answerA" />
	        </div>
	        <div class="form-group">
	            <label class="control-label" data-translate="pteMagicApp.question.answerB" for="field_answerB">Answer B</label>
	            <input type="text" class="form-control" name="answerB" id="field_answerB" ng-model="vm.question.answerB" />
	        </div>
	        <div class="form-group">
	            <label class="control-label" data-translate="pteMagicApp.question.answerC" for="field_answerC">Answer C</label>
	            <input type="text" class="form-control" name="answerC" id="field_answerC" ng-model="vm.question.answerC" />
	        </div>
	        <div class="form-group">
	            <label class="control-label" data-translate="pteMagicApp.question.answerD" for="field_answerD">Answer D</label>
	            <input type="text" class="form-control" name="answerD" id="field_answerD" ng-model="vm.question.answerD" />
	        </div>
	        <div class="form-group">
	            <label class="control-label" data-translate="pteMagicApp.question.answerE" for="field_answerE">Answer E</label>
	            <input type="text" class="form-control" name="answerE" id="field_answerE" ng-model="vm.question.answerE" />
	        </div>

        </div>
        <div class="form-group"
             ng-show="
              vm.question.type != 'SPEAKING_REPEAT_SENTENCE' &&
              vm.question.type != 'SPEAKING_DESCRIBE_IMAGE' &&
              vm.question.type != 'SPEAKING_RETELL_LECTURE'&&
              vm.question.type != 'SPEAKING_ANSWER_SHORT_QUESTION' &&
              vm.question.type != 'SPEAKING_READ_ALOUD' &&
              vm.question.type != 'WRITING_SUMMARIZE_WRITTEN_TEXT' &&
              vm.question.type != 'WRITING_ESSAY'&&
               vm.question.type != 'LISTENING_SUMMARIZE_SPOKEN_TEXT' &&
              vm.question.type != 'LISTENING_DICTATION'"
        >
            <label class="control-label" data-translate="pteMagicApp.question.expectAnswer" for="field_expectAnswer">Expect answer</label>
            <input type="text" class="form-control" name="expectAnswer" id="field_expectAnswer" ng-model="vm.question.expectAnswer" />
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>-->
        <!--</button>-->
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">-->
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>-->
        <!--</button>-->
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="pte-btn-login" type="submit" data-translate="entity.action.save">
            Save
        </button>
    </div>
</form>
