
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionLabel" data-translate="pteMagicApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.question.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.question.type" id="field_type">
                <option value="SINGLE_CHOICE" data-translate="pteMagicApp.QuestionType.SINGLE_CHOICE">SINGLE_CHOICE</option>
                <option value="MULTI_CHOICE" data-translate="pteMagicApp.QuestionType.MULTI_CHOICE">MULTI_CHOICE</option>
                <option value="LISTENING" data-translate="pteMagicApp.QuestionType.LISTENING">LISTENING</option>
                <option value="READING" data-translate="pteMagicApp.QuestionType.READING">READING</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.question.text"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.audioLink" for="field_audioLink">Audio Link</label>
            <input type="text" class="form-control" name="audioLink" id="field_audioLink"
                    ng-model="vm.question.audioLink"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.question.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.answerA" for="field_answerA">Answer A</label>
            <input type="text" class="form-control" name="answerA" id="field_answerA"
                    ng-model="vm.question.answerA"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.answerB" for="field_answerB">Answer B</label>
            <input type="text" class="form-control" name="answerB" id="field_answerB"
                    ng-model="vm.question.answerB"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.answerC" for="field_answerC">Answer C</label>
            <input type="text" class="form-control" name="answerC" id="field_answerC"
                    ng-model="vm.question.answerC"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.answerD" for="field_answerD">Answer D</label>
            <input type="text" class="form-control" name="answerD" id="field_answerD"
                    ng-model="vm.question.answerD"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.answerE" for="field_answerE">Answer E</label>
            <input type="text" class="form-control" name="answerE" id="field_answerE"
                    ng-model="vm.question.answerE"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.expectAnswer" for="field_expectAnswer">Expect Answer</label>
            <input type="text" class="form-control" name="expectAnswer" id="field_expectAnswer"
                    ng-model="vm.question.expectAnswer"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.question.active" for="field_active">Active</label>
                <input type="checkbox" name="active" id="field_active"
                          ng-model="vm.question.active"/>
        </div>

        <div class="form-group">
            <label data-translate="pteMagicApp.question.exam" for="field_exam">Exam</label>
            <select class="form-control" id="field_exam" name="exam" ng-model="vm.question.examId" ng-options="exam.id as exam.id for exam in vm.exams"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
