<div class="content-wrapper pte-table-user">
    <h2 class="" data-translate="pteMagicApp.examType.home.title">Exam Types</h2>
    <jhi-alert></jhi-alert>
    <div class="col-md-12 text-right no-padding-left">
        <button class="btn btn-primary" ui-sref="exam-type.new" >
            <span class="glyphicon glyphicon-plus"></span>
            <span  data-translate="pteMagicApp.examType.home.createLabel">
                Create new Exam Type
            </span>
        </button>
    </div>
    <div class="col-md-12 table-responsive" >
        <table class="jh-table table table-striped  table-bordered table-hover">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th class="text-center" jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="text-center" jh-sort-by="name"><span data-translate="pteMagicApp.examType.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="text-center" jh-sort-by="type"><span data-translate="pteMagicApp.examType.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th class="text-center" jh-sort-by="totalQuestion"><span>Number Question</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="description"><span data-translate="pteMagicApp.examType.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th  class="text-center" ><span  data-translate="pteMagicApp.examType.action">Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="examType in vm.examTypes track by examType.id">
                    <td  class="text-right"><a ui-sref="exam-type-detail({id:examType.id})">{{examType.id}}</a></td>
                    <td class="text-left">{{examType.name}}</td>
                    <td class="text-left" data-translate="{{'pteMagicApp.TestType.' + examType.type}}">{{examType.type}}</td>
                    <td class="text-right">{{examType.totalQuestion}}</td>
                    <!-- <td>{{examType.description}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="exam-type-detail({id:examType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exam-type.edit({id:examType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exam-type.delete({id:examType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
