<!-- READING -->
<div class="form-group" ng-show="vm.flagShowQuestion1">
    <label class="control-label" for="field_totalQuestion_1">Number Question SPEAKING_READ_ALOUD</label>
    <input type="number" class="form-control" name="totalQuestion_1" id="field_numQuestion_1"
            ng-model="vm.examType.numQuestion1" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion2">
    <label class="control-label" for="field_totalQuestion_2">Number Question SPEAKING_REPEAT_SENTENCE</label>
    <input type="number" class="form-control" name="totalQuestion_2" id="field_numQuestion_2"
            ng-model="vm.examType.numQuestion2" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion3">
    <label class="control-label" for="field_totalQuestion_3">Number Question SPEAKING_DESCRIBE_IMAGE</label>
    <input type="number" class="form-control" name="totalQuestion_3" id="field_numQuestion_3"
            ng-model="vm.examType.numQuestion3" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion4">
    <label class="control-label" for="field_totalQuestion_4">Number Question SPEAKING_RETELL_LECTURE</label>
    <input type="number" class="form-control" name="totalQuestion_4" id="field_numQuestion_4"
            ng-model="vm.examType.numQuestion4" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion5">
    <label class="control-label" for="field_totalQuestion_5">Number Question SPEAKING_ANSWER_SHORT_QUESTION</label>
    <input type="number" class="form-control" name="totalQuestion_5" id="field_numQuestion_5"
            ng-model="vm.examType.numQuestion5" ng-change="vm.calTotalQuestion()"
            />
</div>
<!-- WRITING -->
<div class="form-group" ng-show="vm.flagShowQuestion6">
    <label class="control-label" for="field_totalQuestion_6">Number Question WRITING_SUMMARIZE_WRITTEN_TEXT</label>
    <input type="number" class="form-control" name="totalQuestion_6" id="field_numQuestion_6"
            ng-model="vm.examType.numQuestion6" ng-change="vm.calTotalQuestion()"
            />
</div>


<div class="form-group" ng-show="vm.flagShowQuestion7">
    <label class="control-label" for="field_totalQuestion_7">Number Question WRITING_ESSAY</label>
    <input type="number" class="form-control" name="totalQuestion_7" id="field_numQuestion_7"
            ng-model="vm.examType.numQuestion7" ng-change="vm.calTotalQuestion()"
            />
</div>
<!-- READING -->
<div class="form-group" ng-show="vm.flagShowQuestion8">
    <label class="control-label" for="field_totalQuestion_8">Number Question READING_FIB_R_W</label>
    <input type="number" class="form-control" name="totalQuestion_8" id="field_numQuestion_8"
            ng-model="vm.examType.numQuestion8" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion9">
    <label class="control-label" for="field_totalQuestion_9">Number Question READING_FIB_R</label>
    <input type="number" class="form-control" name="totalQuestion_9" id="field_numQuestion_9"
            ng-model="vm.examType.numQuestion9" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion10">
    <label class="control-label" for="field_totalQuestion_10">Number Question READING_RE_ORDER_PARAGRAPH</label>
    <input type="number" class="form-control" name="totalQuestion_10" id="field_numQuestion_10"
            ng-model="vm.examType.numQuestion10" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion11">
    <label class="control-label" for="field_totalQuestion_11">Number Question READING_MCQ_R_SINGLE_ANSWER</label>
    <input type="number" class="form-control" name="totalQuestion_11" id="field_numQuestion_11"
            ng-model="vm.examType.numQuestion11" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion12">
    <label class="control-label" for="field_totalQuestion_12">Number Question  READING_MCQ_R_MULTIPLE_ANSWER</label>
    <input type="number" class="form-control" name="totalQuestion_12" id="field_numQuestion_12"
            ng-model="vm.examType.numQuestion12" ng-change="vm.calTotalQuestion()"
            />
</div>

<!-- LISTENING -->
<div class="form-group" ng-show="vm.flagShowQuestion13">
    <label class="control-label" for="field_totalQuestion_13">Number Question  LISTENING_SUMMARIZE_SPOKEN_TEXT</label>
    <input type="number" class="form-control" name="totalQuestion_13" id="field_numQuestion_13"
            ng-model="vm.examType.numQuestion13" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion14">
    <label class="control-label" for="field_totalQuestion_14">Number Question  LISTENING_FIB_L</label>
    <input type="number" class="form-control" name="totalQuestion_14" id="field_numQuestion_14"
            ng-model="vm.examType.numQuestion14" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion15">
    <label class="control-label" for="field_totalQuestion_15">Number Question  LISTENING_MCQ_L_SINGLE_ANSWER</label>
    <input type="number" class="form-control" name="totalQuestion_15" id="field_numQuestion_15"
            ng-model="vm.examType.numQuestion15" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion16">
    <label class="control-label" for="field_totalQuestion_16">Number Question  LISTENING_MCQ_L_MULTIPLE_ANSWER</label>
    <input type="number" class="form-control" name="totalQuestion_16" id="field_numQuestion_16"
            ng-model="vm.examType.numQuestion16" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion17">
    <label class="control-label" for="field_totalQuestion_17">Number Question  LISTENING_HIGHLIGHT_CORRECT_SUMMARY</label>
    <input type="number" class="form-control" name="totalQuestion_17" id="field_numQuestion_17"
            ng-model="vm.examType.numQuestion17" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion18">
    <label class="control-label" for="field_totalQuestion_18">Number Question  LISTENING_SELECT_MISSING_WORD</label>
    <input type="number" class="form-control" name="totalQuestion_18" id="field_numQuestion_18"
            ng-model="vm.examType.numQuestion18" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion19">
    <label class="control-label" for="field_totalQuestion_19">Number Question  LISTENING_HIGHLIGHT_INCORRECT_WORD</label>
    <input type="number" class="form-control" name="totalQuestion_19" id="field_numQuestion_19"
            ng-model="vm.examType.numQuestion19" ng-change="vm.calTotalQuestion()"
            />
</div>

<div class="form-group" ng-show="vm.flagShowQuestion20">
    <label class="control-label" for="field_totalQuestion_20">Number Question  LISTENING_DICTATION</label>
    <input type="number" class="form-control" name="totalQuestion_20" id="field_numQuestion_20"
            ng-model="vm.examType.numQuestion20" ng-change="vm.calTotalQuestion()"
            />
</div>
