<style>
    .pte-table-result-test>tbody>tr>td{
        padding: 5px 15px;
        font-family: 'Roboto';
        font-weight: bold;
        font-style: normal;
    }

    .pte-table-result:nth-of-type(odd){
        background-color: #f8d463c4;
    }

    .pte-table-result:nth-of-type(even){
        background-color: #ffffff;
    }
</style>

<div style="width: 400px;margin: 0 auto">
    <H3 class="text-center">PTE - ACADEMIC</H3>
    <h2 class="text-center">Bảng điểm kiểm tra</h2>
    <table class="pte-table-result-test" style="width:100%">
        <tr>
            <th>Dạng bài tập</th>
            <th>Điểm số</th>
        </tr>
        <tr class="pte-table-result">
            <td>1.READ ALOUD</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>2.REPEAT SENTENCE</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>3.DESCRIBE IMAGE</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>4.RETELL LECTURE</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>5.ANSWER SHORT QUESTION</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>6.SUMMARIZE WRITTEN TEXT</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>7.ESSAY</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>8.FIB - R&W</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>9.FIB - R</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>10.RE-ORDER PARAGRAPH</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>11.MCQ - R - SINGLE ANSWER</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>12.MCQ - R -MULTIPLE ANSWER</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>13.SUMMARIZE SPOKEN TEXT</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>14.FIB - L</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>15.MCQ - L - SINGLE ANSWER</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>16.MCQ- L - MULTIPLE ANSWER</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>17. HIGHLIGHT CORRECT SUMMARY</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>18.SELECT MISSING WORD</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>19.HIGHLIGHT INCORRECT WORD</td>
            <td></td>
        </tr>
        <tr class="pte-table-result">
            <td>20.DICTATION</td>
            <td></td>
        </tr>
    </table>
</div>
