
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <span class="icon-close pte-icon-close-dialog" ng-click="vm.clear()"></span>
        <h4 class="modal-title text-center" id="myAnswerLabel" data-translate="pteMagicApp.answer.home.createOrEditLabel">Create or edit a Answer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.answer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.answer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.answer.examId" for="field_examId">Exam Id</label>
            <input type="number" class="form-control" name="examId" id="field_examId"
                    ng-model="vm.answer.examId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.answer.questionId" for="field_questionId">Question Id</label>
            <input type="number" class="form-control" name="questionId" id="field_questionId"
                    ng-model="vm.answer.questionId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.answer.answer" for="field_answer">Answer</label>
            <input type="text" class="form-control" name="answer" id="field_answer"
                    ng-model="vm.answer.answer"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.answer.audioLink" for="field_audioLink">Audio Link</label>
            <input type="text" class="form-control" name="audioLink" id="field_audioLink"
                    ng-model="vm.answer.audioLink"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="pteMagicApp.answer.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.answer.description"
                    />
        </div>

        <div class="form-group">
            <label data-translate="pteMagicApp.answer.exam" for="field_exam">Exam</label>
            <select class="form-control" id="field_exam" name="exam" ng-model="vm.answer.examId" ng-options="exam.id as exam.id for exam in vm.exams"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>-->
        <!--</button>-->
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">-->
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>-->
        <!--</button>-->
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="pte-btn-login" type="submit" data-translate="entity.action.save">
            Save
        </button>
    </div>
</form>
