<div class="content-wrapper pte-table-user">
    <h2 class="col-md-12" data-translate="pteMagicApp.answer.home.title">Answers</h2>
    <jhi-alert></jhi-alert>
    <div class="col-md-12 text-right no-padding-left">
        <button class="btn btn-primary" ui-sref="answer.new" >
            <span class="glyphicon glyphicon-plus"></span>
            <span  data-translate="pteMagicApp.answer.home.createLabel">
                Create new Answer
            </span>
        </button>
    </div>
    <br/>
    <div class="col-md-12 table-responsive">
        <table class="jh-table table table-striped  table-bordered table-hover">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="examId"><span data-translate="pteMagicApp.answer.examId">Exam Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionId"><span data-translate="pteMagicApp.answer.questionId">Question Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="answer"><span data-translate="pteMagicApp.answer.answer">Answer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="audioLink"><span data-translate="pteMagicApp.answer.audioLink">Audio Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="pteMagicApp.answer.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="examId"><span data-translate="pteMagicApp.answer.exam">Exam</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="answer in vm.answers track by answer.id">
                    <td><a ui-sref="answer-detail({id:answer.id})">{{answer.id}}</a></td>
                    <td>{{answer.examId}}</td>
                    <td>{{answer.questionId}}</td>
                    <td>{{answer.answer}}</td>
                    <td>{{answer.audioLink}}</td>
                    <td>{{answer.description}}</td>
                    <td>
                        <a ui-sref="exam-detail({id:answer.examId})">{{answer.examId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="answer-detail({id:answer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="answer.edit({id:answer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="answer.delete({id:answer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
