<div class="col-md-6 ">
    <p class="pte-test-content-question">{{vm.selectedQuestion.text}}</p>

    <div ng-show="vm.selectedQuestion.audioLink">
    	<!-- Audio -->
        <i ng-click="vm.audio.play()" ng-show='vm.audio.paused ? true : false' class="pte-font-size-icon-test fa fa-play-circle"></i>
        <i ng-click="vm.audio.pause()" ng-show='vm.audio.paused ? false : true' class="pte-font-size-icon-test fa fa-pause-circle"></i>
        <i ng-click='vm.audio.restart()' class="pte-font-size-icon-test fa fa-sync"></i>
        <i ng-click='vm.audio.muting' class="pte-font-size-icon-test fa fa-volume-up" ng-show="vm.audio.muting ? false : true"></i>
        <i ng-click='vm.audio.muting = !vm.audio.muting' ng-show="vm.audio.muting ? true : false" class="pte-font-size-icon-test fa fa-volume-off"></i>
		 <div>Current Time: {{vm.audio.currentTime | trackTime}}</div>    

        <div class="container-audio">
            <audio controls autoplay loop>
                <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/9473/new_year_dubstep_minimix.ogg" type="audio/ogg">
                Your browser dose not Support the audio Tag
            </audio>
        </div>
		 <div class="form-group">
			 <label>Volume</label>
			 <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='vm.audio.volume'>
		 </div>

		 <div class="form-group">
			 <label>Progress</label>
			 <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='vm.audio.progress' readonly="true" disabled>
		 </div>
    </div>
</div>
    <div class="col-md-6 pte-content-question">
        <p class="pte-text-question">{{vm.selectedQuestion.description}}</p>
        <div class="padding-left30">

            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerA">
                <input type="checkbox" name="answerA" id="answerA" value="true" >
                <label for="answerA" class="line-height-30">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerA}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerB">
                <input type="checkbox" name="answerB" id="answerB" value="true">
                <label for="answerB" class="line-height-30">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerB}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerC">
                <input type="checkbox" name="answerC" id="answerC" value="true">
                <label for="answerC" class="line-height-30">
                    <p class="margin-left30 pte-text-answer">{{vm.selectedQuestion.answerC}}</p>
                </label>
            </div>
            <div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerD">
                <input type="checkbox" name="answerD" id="answerD" value="true">
                <label for="answerD" class="line-height-30">
                    <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerD}}</p>
                </label>
            </div>
			<div class="checkbox checkbox-success" ng-show="vm.selectedQuestion.answerE">
                   <input type="checkbox" name="answerE" id="answerE" value="true">
                   <label for="answerE" class="line-height-30">
                       <p class="margin-left30 pte-text-answer ">{{vm.selectedQuestion.answerE}}</p>
                   </label>
           </div>
       </div>
       <div class="text-center">
           <button class="pte-test-answer" ng-click="vm.answer()" >Answer</button>
       </div>

</div>
