<nav class="navbar navbar-fixed-top  navbar-default " role="navigation">
    <div class="pte-header-one">
        <div class="container">
            <span class="pte-text-email-header">Emai: ptemagic@gmail.com </span>
            <span class="pte-text-numberPhone-header">|   Hotline: +61 466 253 357 - 0869 608 673</span>
        </div>
    </div>
    <a class="pte-logo-desktop  hidden-xs" href="#/" ng-click="vm.collapseNavbar()">
        <img class="logo-img" src="content/images/logo.png" alt="logo"/>
    </a>
    <div class="pte-header-two">
        <div class="container">
            <div class="navbar-header hidden-lg hidden-md hidden-sm">
                <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo " href="#/" ng-click="vm.collapseNavbar()">
                    <img class="logo-img" src="content/images/logo.png" alt="logo"/>
                </a>
            </div>
            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li ui-sref-active="active">
                        <a ui-sref="home" ng-click="vm.collapseNavbar()">
                            <span class="" data-translate="global.menu.home">Home</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                    <li uib-dropdown class="dropdown pointer">
                        <a ui-sref="about" ng-click="vm.collapseNavbar()">
                            <span class="" >About us</span>
                        </a>
                    </li>
                    <li  uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle>
                        <span>
                            <span class="" >
                                PRACTICE TEST
                            </span>
                        </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li>
                                <a ui-sref="preesample">
                                    <span >Free Samples</span>
                                </a>
                            </li>
                            <li >
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                    <span>Member Questions</span>
                                </a>
                            </li>
                            <li >
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                    <span> Mock Test</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li ng-show="vm.loggedIn" ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                        <a  class="dropdown-toggle" uib-dropdown-toggle >
                            <span>
                                 <span class="icon-user"></span>
                                <span class="colorf9db01" >{{vm.user.lastName}}</span>
                            </span>
                        </a>
                    </li>
                    <li ng-show="vm.loggedIn" ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                        <a ng-click="vm.login()" class="dropdown-toggle" uib-dropdown-toggle >
                            <span>
                                <span class="pte-icon-sign icon-sign_out">
                                     <span class="">SIGN OUT</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li ng-show="vm.notloggedIn" ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                        <a ng-click="vm.login()" class="dropdown-toggle" uib-dropdown-toggle >
                            <span>
                                <span class="pte-icon-sign icon-sign_out"></span>
                                <span class="" >SIGN IN</span>
                            </span>
                        </a>
                    </li>
                    <li class="pte-join-free" ng-show="vm.notloggedIn">
                        <a class="dropdown-toggle padding0" uib-dropdown-toggle >
                            <span>
                                <span class="pte-text-join">Join</span>
                                <span class="pte-text-free">Free</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
