<div ng-cloak >
    <div class="pte-body-content"></div>
    <div class="container margin-bottom90">
        <div class="col-md-12">
            <div class="padding-top-bottom35">
                <span class="pte-link-page"><i class="fas fa-circle"></i><span>Practice test</span></span>
                <span  class="pte-link-page-stay"><i class="fas fa-circle"></i><span>Mock Test</span></span>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="pte-mockTest-block" id="pastA" ng-click="vm.showExamList('MOCK_TEST_A')">
                <div class="pte-border-block-mockTest" >
                    <div class="pte-mockTest-block-text">
                        <p class="pte-mockTest-block-text-header">Part a</p>
                    </div>
                </div>
                <div class="text-center min-height46">
                    <p class="pte-mockTest-block-sum-questions">
                        Speaking/Writing
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="pte-mockTest-block" id="pastB" ng-click="vm.showExamList('MOCK_TEST_B')">
                <div class="pte-border-block-mockTest" >
                    <div class="pte-mockTest-block-text">
                        <p class="pte-mockTest-block-text-header">Part b</p>
                    </div>
                </div>
                <div class="text-center min-height46">
                    <p class="pte-mockTest-block-sum-questions">
                        Reading/Listening
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="pte-mockTest-block" id="fullTest" ng-click="vm.showExamList('MOCK_TEST_FULL')" >
                <div class="pte-border-block-mockTest" >
                    <div class="pte-mockTest-block-text">
                        <p class="pte-mockTest-block-text-header">Mock test FULL</p>
                    </div>
                </div>
                <div class="text-center min-height46">
                    <p class="pte-mockTest-block-sum-questions">
                        Speaking/Writing/Reading/Listening
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 pte-free-mock-mobile" ng-show="vm.examShowFlag">
            <div class="col-md-12 pte-pre-sample-listQuestion">
                <div class="col-md-4 margin-top30" ng-repeat="exam in vm.selectedExams">
                    <div class="pte-mock-test-item">
                        <div >
                            <ul class="pte-free-sample-item-text">
                                <li title="{{exam.name}}">
                                    {{exam.name | lmto : 25}}
                                </li>
                            </ul>
                            <ul class="pte-block-item-mocktest-content">
                                <li><a>Question amount: <span>{{exam.totalQuestion | number}}</span></a></li>
                                <li><a>Test Duration: <span>{{exam.totalTime | secondsToDateTime | date:'HH:mm:ss'}}</span></a></li>
                                <li><a>Unsubscribe</a></li>
                                <li><a>Remain exam: <span>{{exam.remainTest}}</span></a></li>
                            </ul>
                        </div>
                        <div class="pte-mock-test-item-footer">
                            <p class="pte-mock-test-item-footer-text">Open Date: Mar 6, 2018 </p>
                            <button class="pte-mock-test-item-footer-btn"
                            	ng-click="vm.startTest(exam)" ng-show="exam.remainTest != 0">Start</button>
                           	<button class="pte-mock-test-item-footer-btn btn-disabled" disabled="disabled" ng-show="exam.remainTest == 0">Start</button>
                            	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

