<div ng-cloak >
    <div class="pte-body-content"></div>
    <div class="container margin-bottom90">
        <div class="col-md-12">
            <div class="padding-top-bottom35">
                <span class="pte-link-page"><i class="fas fa-circle"></i><span>Practice test</span></span>
                <span  class="pte-link-page-stay"><i class="fas fa-circle"></i><span>Mock Test</span></span>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="pte-mockTest-block" id="pastA" ng-click="vm.showExamList('MOCK_TEST_A')">
                <div class="pte-border-block-mockTest" >
                    <div class="pte-mockTest-block-text">
                        <p class="pte-mockTest-block-text-header">Part a</p>
                    </div>
                </div>
                <div class="text-center min-height46">
                    <p class="pte-mockTest-block-sum-questions">
                        Specking/Writing
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="pte-mockTest-block" id="pastB" ng-click="vm.showExamList('MOCK_TEST_B')">
                <div class="pte-border-block-mockTest" >
                    <div class="pte-mockTest-block-text">
                        <p class="pte-mockTest-block-text-header">Part b</p>
                    </div>
                </div>
                <div class="text-center min-height46">
                    <p class="pte-mockTest-block-sum-questions">
                        Reading/Listening
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="pte-mockTest-block" id="fullTest" ng-click="vm.showExamList('MOCK_TEST_FULL')" >
                <div class="pte-border-block-mockTest" >
                    <div class="pte-mockTest-block-text">
                        <p class="pte-mockTest-block-text-header">Mock test FULL</p>
                    </div>
                </div>
                <div class="text-center min-height46">
                    <p class="pte-mockTest-block-sum-questions">
                        Speaking/Writing/Reading/Listening
                    </p>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-3 col-xs-3 hidden-md hidden-lg"  id="pastAMobile" ng-click="vm.pastA()">-->
            <!--<div class="pte-free-sample-mobile">-->
                <!--<span class="icon-headset"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 col-xs-3 hidden-md hidden-lg">-->
            <!--<div class="pte-free-sample-mobile">-->
                <!--<span class="icon-open-book"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 col-xs-3 hidden-md hidden-lg">-->
            <!--<div class="pte-free-sample-mobile">-->
                <!--<span class="icon-icon"></span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-3 col-xs-3 hidden-md hidden-lg">-->
            <!--<div class="pte-free-sample-mobile">-->
                <!--<span class="icon-checkbox-pen-outline2"></span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-md-12 pte-free-mock-mobile" ng-show="vm.examShowFlag">
            <div class="col-md-12 pte-pre-sample-listQuestion">
                <div class="col-md-4 margin-top30">
                    <div class="pte-mock-test-item">
                        <div >
                            <ul class="pte-free-sample-item-text">
                                <li >
                                    Multiple choice, choose multiple
                                    answers
                                </li>
                            </ul>
                            <ul class="pte-block-item-mocktest-content">
                                <li><a>Question amuont: <span>24</span></a></li>
                                <li><a>Test Durication: <span>00:25:22</span></a></li>
                                <li><a>Unsubscribe</a></li>
                            </ul>
                        </div>
                        <div class="pte-mock-test-item-footer">
                            <p class="pte-mock-test-item-footer-text">Open Date: Mar 6, 2018 </p>
                            <button class="pte-mock-test-item-footer-btn">Start</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 margin-top30">
                    <div class="pte-mock-test-item">
                        <div >
                            <ul class="pte-free-sample-item-text">
                                <li >
                                    Multiple choice, choose multiple
                                    answers
                                </li>
                            </ul>
                            <ul class="pte-block-item-mocktest-content">
                                <li><a>Question amuont: <span>24</span></a></li>
                                <li><a>Test Durication: <span>00:25:22</span></a></li>
                                <li><a>Unsubscribe</a></li>
                            </ul>
                        </div>
                        <div class="pte-mock-test-item-footer">
                            <p class="pte-mock-test-item-footer-text">Open Date: Mar 6, 2018 </p>
                            <button class="pte-mock-test-item-footer-btn">Start</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 margin-top30">
                    <div class="pte-mock-test-item">
                        <div >
                            <ul class="pte-free-sample-item-text">
                                <li >
                                    Multiple choice, choose multiple
                                    answers
                                </li>
                            </ul>
                            <ul class="pte-block-item-mocktest-content">
                                <li><a>Question amuont: <span>24</span></a></li>
                                <li><a>Test Durication: <span>00:25:22</span></a></li>
                                <li><a>Unsubscribe</a></li>
                            </ul>
                        </div>
                        <div class="pte-mock-test-item-footer">
                            <p class="pte-mock-test-item-footer-text">Open Date: Mar 6, 2018 </p>
                            <button class="pte-mock-test-item-footer-btn">Start</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 margin-top30">
                    <div class="pte-mock-test-item">
                        <div >
                            <ul class="pte-free-sample-item-text">
                                <li >
                                    Multiple choice, choose multiple
                                    answers
                                </li>
                            </ul>
                            <ul class="pte-block-item-mocktest-content">
                                <li><a>Question amuont: <span>24</span></a></li>
                                <li><a>Test Durication: <span>00:25:22</span></a></li>
                                <li><a>Unsubscribe</a></li>
                            </ul>
                        </div>
                        <div class="pte-mock-test-item-footer">
                            <p class="pte-mock-test-item-footer-text">Open Date: Mar 6, 2018 </p>
                            <button class="pte-mock-test-item-footer-btn">Start</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

