<div ng-cloak >
    <div class="pte-body-content"></div>
    <div class="container margin-bottom90">
        <!-- LISTENING -->
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="pte-freeSample-block" id="listening" ng-click="vm.showExamList('LISTENING')">
                <div class="pte-border-block-freeSample" >
                    <span class="icon-headset"></span>
                    <div class="pte-freeSample-block-text">
                        <p class="pte-freeSample-block-text-header">Listening</p>
                        <p class="pte-freeSample-block-text-child">Number of Categories: <span class="colorf9db01">{{vm.totalExamListening}}</span></p>
                    </div>
                </div>
                <div>
                    <p class="pte-freeSample-block-sum-questions">
                        {{vm.totalExamQuestionListening}} QUESTIONS
                    </p>
                </div>
            </div>
        </div>
        <!-- READING -->
        <div class="col-sm-3 hidden-xs hidden-sm">
            <div class="pte-freeSample-block" id="reading" ng-click="vm.showExamList('READING')">
                <div class="pte-border-block-freeSample">
                    <span class="icon-open-book"></span>
                    <div class="pte-freeSample-block-text">
                        <p class="pte-freeSample-block-text-header">READING</p>
                        <p class="pte-freeSample-block-text-child">Number of Categories: <span class="colorf9db01">{{vm.totalExamReading}}</span></p>
                    </div>
                </div>
                <div>
                    <p class="pte-freeSample-block-sum-questions">
                        {{vm.totalExamQuestionReading}} QUESTIONS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="pte-freeSample-block " id="speaking" ng-click="vm.showExamList('Speaking')">
                <div class="pte-border-block-freeSample">
                    <span class="icon-icon"></span>
                    <div class="pte-freeSample-block-text">
                        <p class="pte-freeSample-block-text-header">Speaking</p>
                        <p class="pte-freeSample-block-text-child">Number of Categories: <span class="colorf9db01">0</span></p>
                    </div>
                </div>
                <div>
                    <p class="pte-freeSample-block-sum-questions">
                        0 QUESTIONS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="pte-freeSample-block " id="writing" ng-click="vm.showExamList('WRITING')">
                <div class="pte-border-block-freeSample">
                    <span class="icon-checkbox-pen-outline2"></span>
                    <div class="pte-freeSample-block-text">
                        <p class="pte-freeSample-block-text-header">WRITING</p>
                        <p class="pte-freeSample-block-text-child">Number of Categories: <span class="colorf9db01">0</span></p>
                    </div>
                </div>
                <div>
                    <p class="pte-freeSample-block-sum-questions">
                        0 QUESTIONS
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 hidden-md hidden-lg pte-free-sample-mobile-icon" id="listeningMobile" ng-click="vm.showExamList('LISTENING')">
            <div class="pte-free-sample-mobile" >
                <span class="icon-headset"></span>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 hidden-md hidden-lg pte-free-sample-mobile-icon" id="readingMobile" ng-click="vm.showExamList('READING')">
            <div class="pte-free-sample-mobile" >
                <span class="icon-open-book"></span>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 hidden-md hidden-lg " id="speakingMobile" ng-click="vm.showExamList('Speaking')">
            <div class="pte-free-sample-mobile">
                <span class="icon-icon"></span>
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 hidden-md hidden-lg " id="writingMobile" ng-click="vm.showExamList('WRITING')">
            <div class="pte-free-sample-mobile">
                <span class="icon-checkbox-pen-outline2"></span>
            </div>
        </div>

        <!-- Show list exam -->
        <div class="col-md-12 pte-free-listquestion-mobile" ng-show="vm.examShowFlag">
            <div class="col-md-12 pte-pre-sample-listQuestion">
                <div class="col-md-4 margin-top30" ng-repeat="exam in vm.filterExams">
                    <div class="pte-free-sample-item">
                        <div >
                            <ul class="pte-free-sample-item-text">
                                <li >
                                    {{exam.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="pte-free-sample-item-footer">
                            <p class="pte-free-sample-item-footer-text">Total {{exam.numberQuestion | number}} questions</p>
                            <button class="pte-free-sample-item-footer-btn" ng-click="vm.startTest(exam.id)">Test</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

