<!--[if lt IE 9]>
<![endif]-->
<div class="pte-scroll-popup">
    <!-- Angular views -->
    <div class="pte-test-type-question" ng-show="!vm.isFinish">
        <div class="container">
            <ul class="margin-0 pte-display-inline-block">
                <li>
                    <span data-translate="pteMagicApp.TestType.description.{{vm.exam.examTypeDTO.type}}" ng-cloak>Sample question - reading</span>
                </li>
            </ul>
            <div class="pull-right">
                <div class="pte-test-type-question-three-background ">
                    <span>
                         <i class="far fa-clock pte-test-type-question-three-icon"></i>
                        <span class="pte-test-type-question-three-timeName">TIME REMANING</span>
                        <span class="pte-test-type-question-three-time"><!-- autostart="false" -->
                        <timer id="timerPTE" countdown="vm.countdown" interval="1000" finish-callback="vm.answer()">{{hhours}}:{{mminutes}}:{{sseconds}}</timer></span>
                    </span>
                </div>
                <div class="" ng-show="vm.selectedQuestion.type != 'TIME_BREAK'">
                    <span class="pte-test-type-question-three-timeName" style="color: #fff">{{vm.currentQuestion}} of {{vm.totalQuestion}}</span>
                </div>
                <!--<div class="" ng-show="vm.selectedQuestion.type != 'TIME_BREAK'">-->
                    <!--<span class="pte-test-type-question-two-title" style="">{{vm.currentQuestion}} of {{vm.totalQuestion}}</span>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="pte-test-type-question-two" ng-show="!vm.isFinish">
        <div class="container">
            <div class="col-md-12">
                <p class="pte-test-type-question-two-title" data-translate="pteMagicApp.QuestionType.title.{{vm.selectedQuestion.type}}">MULTIPLE CHOICE, CHOOSE SINGLE ANSWER</p>
            </div>

        </div>
    </div>
    <div ng-show="!vm.isFinish" class="">

	    <div class="container margin-top30">
	        <div class="col-md-12 padding0">
				<div  class="col-md-12" ng-show="vm.selectedQuestion.type == 'TIME_BREAK'">
			        <div ng-include="'app/partial/partial.timebreak.html'"></div>
			    </div>
	        	<!-- WRITING -->
	        	<div ng-if="vm.questionGroup == 'WRITING'" ng-include="'app/partial/partial.question-writing.html'"></div>

   		        <!-- READING -->
	        	<div ng-if="vm.questionGroup == 'READING'" ng-include="'app/partial/partial.question-reading.html'" ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-margin-top100':''"></div>

	        	<!-- SPEAKING -->
	        	<div ng-if="vm.questionGroup == 'SPEAKING'" ng-include="'app/partial/partial.question-speaking.html'" ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-margin-top100':''"></div>

	        	<!-- LISTENING -->
	        	<div ng-if="vm.questionGroup == 'LISTENING'" ng-include="'app/partial/partial.question-listening.html'" ng-class="vm.selectedQuestion.type == 'TIME_BREAK' ? 'pte-margin-top100':''"></div>

	        </div>
	    </div>
	    
	    <!-- Common hidden field -->
	    <div ng-show="false">
	    	<div class="col-md-4">
				<canvas id="wavedisplay"></canvas>
			</div>
			<div class="col-md-2">
				<div id="controls">
					<a id="save" href="blob:http://localhost:8080/4c60ff1d-2bbf-421a-964b-d88cdd0a153a" download="myRecording00.wav" ng-show="false">
					<img src="content/audio_recorder/save.svg"></a>
				</div>
			</div>
	    </div>
    </div>
    <div ng-show="vm.isFinish" style="margin-top: 100px;">
        <p class="pte-text-finish">Completed ! Check mail to see the result!</p>
    	<div class="text-center">
           <button class="pte-test-answer" ng-click="vm.closeExam()">Finish</button>
       </div>
    </div>
</div>

<noscript>
    <h1>You must enable javascript to view this page.</h1>
</noscript>
<div ng-show="!vm.isFinish && vm.selectedQuestion.type != 'TIME_BREAK'" class="container text-right pte-button-next-postion">
    <button class="pte-test-answer" ng-class="{btn-disabled: vm.btnEnable}"  ng-click="vm.answer()" ng-show="vm.btnEnable" ng-disabled="vm.btnDisabled">{{vm.btnTxt}}</button>
</div>
